[Desktop Entry]
Type=Application
Name=LiveWallpaper
Name[de]=LiveWallpaper
Name[es]=LiveWallpaper
Name[fr]=LiveWallpaper
Name[ja]=ライブ壁紙
Name[ms]=LiveWallpaper
Name[nl]=LiveWallpaper
Name[sk]=LiveWallpaper
Name[uk]=LiveWallpaper
Comment=Animated wallpapers
Comment[de]=Animierte Hintergründe
Comment[es]=Fondos de pantalla animados
Comment[fr]=Fonds d'écran animés
Comment[ja]=アニメーション壁紙
Comment[ms]=Kertas dinding beranimasi
Comment[nl]=Geanimeerde wallpapers
Comment[sk]=Animované pozadie
Comment[uk]=Анімовані шпалери
Icon=livewallpaper
Exec=livewallpaper-autostart
NoDisplay=true
Terminal=false
StartupNotify=false
X-GNOME-AutoRestart=true
