# Serf Agent (systemd service unit)
[Unit]
Description=Serf Agent
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/serf agent -config-dir=/home/git/kamikazi-core/resources/latest/config/serf/
KillSignal=SIGINT
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

